{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">

    <link rel="icon" type="image/png" sizes="144x144" href="{% static 'favicon/android-icon-144x144.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">

    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">

    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">

    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">

    <!-- GOOGLE ANALYTICS -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MY8SW8EJD8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MY8SW8EJD8');
    </script>

    <!-- STYLES -->
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/trangchu.css' %}">
    {% endblock %}

    <!-- TITLE -->
    {% block title %} 
        <title>QRticket</title>
    {% endblock %}
</head>

<body>

    <header>

        <!-- LOGO -->
        <div class="logo">
            <a href="{% url 'home' %}" title="QRticket">
                <img src="{% static 'images/icons/logo.png' %}" alt="QRticket">
            </a>
        </div>

        <!-- HEADER CONTENT -->
        {% block headerContent %}
            <div class="search_bar">
                <form action="{% url 'search' %}" class="wrapper" method="GET">
                    <input type="text" name="query" placeholder="Tìm kiếm...">
                    <button type="submit">
                        <img src="{% static 'images/icons/search_icon.png' %}" alt="Search icon">
                    </button>
                </form>
            </div>
                
            <div class="others">
                <div id="authContainer" class="auth"></div>
            </div>
        {% endblock %}

    </header>

    <!-- MAIN -->
    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        {% block footer %}{% endblock %}
    </footer>

    <!-- LOGIN MODAL -->
    <div id="mdl-login" class="modal">
        <div class="modal-content login">
            <div class="login__header">
                <button class="close" data-close="mdl-login">&times;</button>
                <h1>ĐĂNG NHẬP</h1>
            </div>

            <div class="login__body">
                <form id="loginForm">
                    <div class="login-info">
                        <input name="username" type="text" placeholder="Username hoặc email" required>
                        <input name="password" type="password" placeholder="Mật khẩu" required>
                    </div>

                    <button type="submit">
                        Đăng nhập
                    </button>
                </form>

                <div class="modal-switch">
                    <div>Chưa có tài khoản?</div>
                    <button type="button" class="modal-trigger in-modal" data-open="mdl-signUp">
                        Đăng ký ngay
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- SIGN-UP MODAL -->
    <div id="mdl-signUp" class="modal">
        <div class="modal-content login">
            <div class="login__header">
                <button class="close" data-close="mdl-signUp">&times;</button>
                <h1>ĐĂNG KÝ</h1>
            </div>

            <div class="login__body">
                <form id="signUpForm">
                    <div class="login-info">
                        <input name="username" type="text" placeholder="Nhập username" required>
                        <input name="email" type="email" placeholder="Email" required>
                        <input name="password" type="password" placeholder="Mật khẩu" required>
                        <input name="password_confirm" type="password" placeholder="Nhập lại mật khẩu" required>
                    </div>

                    <button type="submit" class="login__button">
                        Đăng ký
                    </button>
                </form>

                <div class="modal-switch">
                    <div>Đã có tài khoản?</div>
                    <button type="button" class="modal-trigger in-modal" data-open="mdl-login">
                        Đăng nhập ngay
                    </button>
                </div>

            </div>
        </div>
    </div>


    {% block endOfBody %}{% endblock %}

    <script type="module">
        import { initHeader } from "{% static 'js/modules/header.js' %}";
        import { initLogin, initSignUp } from "{% static 'js/modules/auth.js' %}";
        import { initModalTriggers } from "{% static 'js/modules/modal.js' %}";

        window.URLS = {
            myEvents: "{% url 'my_events' %}",
            myTickets: "{% url 'my_tickets' %}",
            userPage: "{% url 'user_page' %}",
            scanner: "{% url 'scanner' %}",
        };

        initHeader();
        initLogin();
        initSignUp();
        initModalTriggers();
    </script>

    <!-- SCRIPTS -->
    {% block scripts %}{% endblock %}
</body>
</html>