{% extends "base.html" %}
{% load static %}

<!-- HEAD -->
{% block style %}
    <link rel="stylesheet" href="{% static 'css/orderspage.css' %}">
{% endblock %}

{% block title %}
    <title>QRticket - Order</title>
{% endblock %}

<!-- MAIN -->
{% block main %}
<div class="checkout">
    <!-- LEFT: PAYMENT -->
    <div class="payment">
        <h2>Billing Information</h2>

        <form id="paymentForm">
            <div class="buyer-info-wrapper">
                <div class="buyer-info">
                    <p class="input-label">Full name</p>
                    <input type"text" id="buyerName" placeholder="Họ và tên">
                </div>

                <div class="buyer-info">
                    <p class="input-label">Email</p>
                    <input type"text" id="buyerEmail" placeholder="Email" value="{{ user.email }}">
                </div>

                <div class="buyer-info">
                    <p class="input-label">Phone</p>
                    <input type="tel" id="buyerPhone" placeholder="Phone">
                </div>

            </div>
            <h3>Payment method</h3>
        
            <!-- METHOD SELECT -->
            <div class="buyer-payment">
                <div class="payment-methods">
                    <button type="button" id="cardOptionBtn" class="method active">
                        Debit/Credit
                    </button>
            
                    <button type="button" id="paypalOptionBtn" class="method">
                        PayPal
                    </button>
                </div>
            
                <!-- DYNAMIC CONTENT -->
                <div id="paymentDynamic">
            
                    <!-- CARD SECTION -->
                    <div id="cardSection">
            
                        <p>Card number</p>
                        <div class="card-info-container">
                            <input id="cardNumber" class="card-info" type="text" placeholder="Card number">
                            <input id="cardExpDate" class="card-info" type="text" placeholder="MM / YY">
                            <input id="cardVerValue" class="card-info" type="text" placeholder="CVV">
                        </div>

                        <div>
                            <p class="input-label">Country</p>
                            <select id="buyerCountry">
                                <option value="VN" selected>Viet Nam</option>
                            </select>
                        </div>
        
                        <div>
                            <p class="input-label">Postal code</p>
                            <input id="buyerPostal" type="text">
                        </div>
                    </div>
            
                    <!-- PAYPAL SECTION -->
                    <div id="paypalSection" style="display: none;">
                        <p>Click the button below to continue with PayPal.</p>
            
                        <button type="button" id="paypalBtn">
                            PayPal
                        </button>
                    </div>
                    
                    <!-- SUBMIT -->
                    <button type="submit" id="payBtn">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- RIGHT: ORDER -->
    <div class="order">

        <h2>Giỏ hàng</h2>

        <!-- EVENT INFO -->
        <div class="event-info">
            <div>Vé sự kiện: <span id="eventName"></span></div>
            <img id="eventImage" src="" alt="event-image">
        </div>

        <!-- TICKET LIST -->
         <div class="container-wrapper">
            <div class="ticket-list-container">
                <div id="ticketList"></div>
            </div>
        </div>
        <hr>
        <h3>Tổng tiền: <span id="totalPrice">0</span></h3>
    </div>
</div>
{% endblock %}

<!-- SCRIPTS -->
{% block scripts %}
<script>
    const event_id = "{{ event_id }}";

</script>

<script type="module" src="{% static 'js/orderspage.js' %}"></script>
{% endblock %}
