<script src="https://unpkg.com/html5-qrcode"></script>
{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/scanner.css' %}">
{% endblock %}

{% block title %}
<title>QRticket - Scanner</title>
{% endblock %}

{% block main %}
<div class="scanner">
    <h2>Quét vé</h2>

        <div id="video">
            <div class="scan-overlay">
                <div class="scan-frame">
                    <div class="scan-line"></div>
                </div>
            </div>
        </div>

        <p id="result"></p>
    </div>

    <p id="result"></p>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'js/scanner.js' %}"></script>
{% endblock %}