{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/userpage.css' %}">
{% endblock %}

{% block title %}
<title>QRticket - Thông tin cá nhân</title>
{% endblock %}

{% block main %}
<article id="info">
    <div class="heading-wrapper">
        <h1>Thông tin tài khoản</h1>
        <hr>
    </div>

    <div class="profile-wrapper">

        <!-- AVATAR -->
        <div class="avatar-wrapper">
            <img id="avatar"
                src="{% static 'images/avatars/default-avatar.png' %}">
        </div>
        
        <form id="avatarForm" enctype="multipart/form-data">
            <input id="avatarInput" type="file" name="avatar" accept="image/*" hidden>
        </form>
        
        <!-- USERNAME + EMAIL -->
        <form id="userInfoForm" class="info-wrapper">
            <div>
                <p>Username:</p>
                <input id="usernameInput" type="text" name="username" value="{{ user.username }}" class="info-input" placeholder="Nhập username vào đây">
            </div>
            
            <div>
                <p>Email:</p>
                <input id="emailInput" type="email" name="email" value="{{ user.email }}" class="info-input" disabled>
            </div>
            
            <button type="submit" class="info-submit">Cập nhật thông tin</button>
        </form>
    </div>
</article>

<!-- PASSWORD -->
<article>
    <div class="heading-wrapper">
        <h1>Thay đổi mật khẩu</h1>
        <hr>
    </div>

    <div class="password-wrapper">
        <form id="passwordForm" class="info-wrapper">
            <p>Mật khẩu cũ</p>
            <input type="password" name="current_password" placeholder="Nhập mật khẩu hiện tại" class="info-input" required>

            <p>Mật khẩu mới</p>
            <input type="password" name="new_password" placeholder="Nhập mật khẩu mới" class="info-input" required>

            <p>Xác nhận mật khẩu mới</p>
            <input type="password" name="confirm_password" placeholder="Nhập lại mật khẩu mới" class="info-input" required>

            <button type="submit" class="info-submit">Đổi mật khẩu</button>
        </form>
    </div>
</article>
{% endblock %}

{% block scripts %}
<script type="module">
    import { initAvatarUpload, initUsernameUpdate, initPasswordChange,initUserInfo } from "{% static 'js/userpage.js' %}";

    initUserInfo(); 
    initAvatarUpload();
    initUsernameUpdate();
    initPasswordChange();
</script>
{% endblock %}