// USE
@use 'components/_variables' as v;
@use 'components/_base' as *;
@use 'components/scrollbar' as scr;

// COLOR VARIABLES
$payment_background_color: rgb(33, 33, 33);
$order_background_color: rgb(33, 33, 33);

$ticket_list_scrollbar_thumb_inactive_color: scr.$scrollbar_thumb_inactive_color;
$ticket_list_scrollbar_thumb_active_color: scr.$scrollbar_thumb_active_color;

// SIZE VARIABLES
$ticket_list_min_width: 320px;
$ticket_list_min_height: 320px;
$ticket_list_max_height: 400px;



$ticket_list_scrollbar_size: 3.5px;

// PAGE HEIGHT FIX
main {
    height: calc(100vh - 61.5px);
}


// CHECKOUT LAYOUT
.checkout {
    height: 100%;

    display: flex;
    flex-direction: row;
}


// PAYMENT (LEFT)
.payment {
    background: $payment_background_color;

    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#paymentForm {  
    width: 100%;
    height: 100%;
    max-width: 500px;

}

// CARD INFO
#cardSection {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: auto;

}

// BUYER INFO
.buyer-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buyer-info-wrapper {
    display: flex;
    flex-direction: column;
}


// PAYMENT METHODS
.payment-methods {
    display: flex;
    gap: 10px;
}

.method {
    flex: 1;
}


// CARD SECTION
.card-info-container {
    display: flex;
    gap: 10px;
}

.name-row {
    display: flex;
    gap: 10px;
}


// ORDER (RIGHT)
.order {
    background: $order_background_color;

    height: 100%;
    width: 50%;
    padding: 5%;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}


// EVENT INFO
.event-info {
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-info img {
    width: 100px;
}


// TICKET LIST
.ticket-list-container {
    width: 100%;
    height: 100%;
    min-width: $ticket_list_min_width;
    min-height: $ticket_list_min_height;
    max-height: $ticket_list_max_height;

    overflow-y: auto;
}


// PREVENT LAYOUT BREAK
.order h2,
.order hr,
.order h3 {
    flex-shrink: 0;
}


// TOTAL
.order h3 {
    margin-top: 10px;
}

// HR   
hr {
    min-width: $ticket_list_min_width;
}


// SCROLLBAR
.ticket-list-container::-webkit-scrollbar,
#paymentForm::-webkit-scrollbar {
    width: $ticket_list_scrollbar_size;
}

.ticket-list-container::-webkit-scrollbar-thumb,
#paymentForm::-webkit-scrollbar-thumb {
    background: $ticket_list_scrollbar_thumb_inactive_color;

    &:hover {
        background: $ticket_list_scrollbar_thumb_active_color;
    }
}

