{% load static %}
<h2>Payment unsuccessful</h2>
<p>Your payment was cancelled or failed.</p>
<a href={% url "home" %}>Go back</a>

<script type="module">
    import { protectedFetch } from "{% static 'js/modules/generalApi.js' %}";

    const orderId = "{{ order_id|default:'' }}";

    if (orderId) {
        try {
            await protectedFetch(`/api/orders/${orderId}/cancel/`, {
                method: "POST"
            });
        } catch (err) {
            console.error("Cancel failed", err);
        }
    }
</script>